.wrapper{
  width: 84vw;
  margin-left: 8vw;
  
}

.container {
    
    display: inline-block;
    
    padding: 20px;
    background:transparent;
    justify-content: center;
    
    
  }
  



  
