/* Three columns side by side */
.row{
  padding-right: 80px;
  padding-left: 80px;
}
.column {
  float: left;
  width: 33%;
  margin-top: 10px;
  margin-bottom: 16px;
  padding: 50px 50px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    
  }
}
.dash{
  border: 0 none;
  border-top: 2px solid grey;
  background:none;
  height:0;
} 

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:#006baf ;
  cursor: pointer;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  
}

.title {
  color:white;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.img{
  height: 25vh;
  border-radius: 50%;
  
  
  
}
@media screen and (min-width: 800px) {
  .row{
    width: 80vw;
    margin-left: 10vw;

  }
}



.display-text-group{
  color: white;
}


