.App {
  text-align: center;
  background-color:white;
  
}
.upper{
  width: 100%;
  height: 2vh;
  background-color: #006baf;
}
img{
  height: 15vh;


}
:root{
  --mainDark:#343a40;
}

.emptylabel{
  background-color: #343a40;
  height: 60px;
}
